<% content_for :page_title do %>
	<%= I18n.t(:listing_newsletter_subscribers) %>
<% end %>				
<% content_for :page_actions do %>
	<li id="new_newsletter_subscriber_link">
		<%= button_link_to I18n.t(:new_newsletter_subscriber), new_object_url, { :icon => 'icon-plus', :id => 'admin_new_newsletter_subscriber' } %>
	</li>
<% end %>

<table class="index" id="listing_newsletter_subscribers" data-hook>
	<colgroup>
		<col style="width: 85%">
		<col style="width: 15%">
	</colgroup>
	<thead>
		<tr data-hook="admin_newsletter_subscribers_index_headers">
			<th><%= t(:newsletter_subscribers) %></th>
			<th data-hook="admin_newsletter_subscribers_index_header_actions" class="actions"></th>
		</tr>
	</thead>
	<tbody>
		<% @newsletter_subscribers.each do |newsletter_subscriber|%>
			<tr id="<%= spree_dom_id newsletter_subscriber %>" data-hook="admin_newsletter_subscribers_index_rows" class="<%= cycle('odd', 'even')%>">
				<td class='newsletter_subscribers_email'><%=link_to newsletter_subscriber.email, object_url(newsletter_subscriber) %></td>
				<td data-hook="admin_newsletter_subscriber_index_row_actions" class="actions">
					<%= link_to_edit newsletter_subscriber, :no_text => true %>
					<%= link_to_delete newsletter_subscriber, :no_text => true %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= paginate @newsletter_subscribers %>
